.main_chat
  .main_chat__group-info
    .main_chat__group
      = @group.name
      .main_chat__group2
        Member：
        - @group.users.each_with_index do |user, i|
          - unless i.zero?
            ,
          = user.name
    .main_chat__right-group 
      = link_to edit_group_path(@group),class:'edit_link'do
        Edit
  .main_chat__message-list
    = render @messages
   
 
  .main_chat__footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .box
        = f.text_field :content, class: 'box__text', placeholder: 'type a message'
        = f.label :image ,class:'images' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'box__file-btn'
        = f.submit 'Send', class: 'send-btn'